<md-card class="sidenav">
  <md-card-header *ngIf="!isActiveModel">
    <md-card-header-text>
      <div class="title-text">{{diagram.name}}</div>
      <div>{{diagram.description}}</div>
    </md-card-header-text>
    <md-button (click)="createNewState(diagram)" class="md-icon-button">
      <md-icon>playlist_add</md-icon>
    </md-button>
  </md-card-header>

  <md-divider></md-divider>

  <md-card-content *ngIf="diagram.states.length >= 1" class="scrollable" flex style="max-height: 800px">
    <md-card *ngFor="let state of diagram.states">
      <md-card-header>
        <md-card-header-text>
          <div layout="column">
            <span class="title-text">{{state.name}}</span>
            <span *ngIf="!isActiveModel" class="medium-text">
                            {{ 'state.position' | translate }}: [{{state.x| number}}, {{state.y| number}}]
                        </span>
          </div>
        </md-card-header-text>
        <md-button (click)="configState(state)" *ngIf="!isActiveModel" class="md-icon-button">
          <md-icon>settings_applications</md-icon>
        </md-button>
        <md-button (click)="setActiveState(state)" aria-label="hide/show state info" class="md-icon-button">
          <md-icon *ngIf="activeState !== state">visibility</md-icon>
          <md-icon *ngIf="activeState === state">visibility_off</md-icon>
        </md-button>
        <md-button (click)="deleteState(diagram, state)" class="md-icon-button">
          <md-icon>delete_sweep</md-icon>
        </md-button>
      </md-card-header>

      <md-card-content [hidden]="activeState != state">
        <div layout="row" layout-align="space-between">
          <md-input-container>
            <label> {{ 'state.name' | translate}}</label>
            <input [(ngModel)]="state.name" name="stateName">
          </md-input-container>
        </div>

        <div *ngIf="!isActiveModel" layout="row" layout-align="space-between">
          <md-input-container>
            <label>{{ 'state.template' | translate }}</label>
            <md-select [(ngModel)]="state.template" name="templateName">
              <md-option *ngFor="let partial of partials" ng-value="partial">{{partial}}</md-option>
            </md-select>
          </md-input-container>
          <md-input-container *ngIf="isActionState(state)">
            <label>{{ 'state.color' | translate }}</label>
            <md-select [(ngModel)]="state.color" name="colorName">
              <md-option *ngFor="let color of colors" ng-value="color.color">{{color.abbr}}</md-option>
            </md-select>
          </md-input-container>
        </div>

        <div *ngIf="isActionState(state)">
          <md-card class="action-input-container" layout="row">
            <md-icon>call_received</md-icon>
            <md-input-container *ngFor="let input of state.inputContainer">
              <label>{{input.label}}</label>
              <input [(ngModel)]="input.value" ng-change="countFunction(diagram.states, activeState)"/>
            </md-input-container>
            <div layout="column">
              <md-button (click)="addVariable(state, INPUT)"
                         class="md-icon-button">
                <md-icon>add</md-icon>
              </md-button>
              <md-button (click)="deleteVariable(state, INPUT)"
                         class="md-icon-button">
                <md-icon>remove</md-icon>
              </md-button>
            </div>
          </md-card>

          <md-card *ngIf="isActionState(state)" class="action-input-container" layout="row">
            <md-icon>call_made</md-icon>
            <md-input-container *ngFor="let output of state.outputContainer">
              <label>{{output.label}}</label>
              <input [(ngModel)]="output.value"/>
            </md-input-container>
            <div layout="column">
              <md-button (click)="addVariable(state, OUTPUT)"
                         class="md-icon-button">
                <md-icon>add</md-icon>
              </md-button>
              <md-button (click)="deleteVariable(state, OUTPUT)"
                         class="md-icon-button">
                <md-icon>remove</md-icon>
              </md-button>
            </div>
          </md-card>
        </div>

        <div *ngIf="!isActiveModel && state.source.connections.length">
          <div *ngFor="let connection of state.source.connections; let i = index">
            <md-card>
              <md-card-header>
                <md-card-header-text>
                  <div class="big-text">{{ 'state.connection.self' | translate }} {{connection.uuid}}
                  </div>
                </md-card-header-text>
                <md-button (click)="removeIndex(i, state.source.connections)" class="md-icon-button">
                  <md-icon>delete_sweep</md-icon>
                </md-button>
              </md-card-header>
              <md-card-content>
                <md-input-container>
                  <label>{{ 'state.connection.condition' | translate }}</label>
                  <input [(ngModel)]="connection.condition" name="conditionName">
                </md-input-container>
              </md-card-content>
            </md-card>
          </div>
        </div>
      </md-card-content>

    </md-card>

  </md-card-content>
</md-card>
