<mat-card class="sidenav" fxLayout="column" style="padding: 5px">

  <mat-card-title fxLayout="row" fxLayoutAlign="space-between center">
    <div class="title-text">{{diagram.name}}</div>
    <button (click)="createNewState(diagram)" mat-icon-button>
      <mat-icon>playlist_add</mat-icon>
    </button>
  </mat-card-title>

  <mat-card-content *ngIf="diagram.states.length >= 1" class="scrollable" fxFlex style="max-height: 800px">
    <mat-card *ngFor="let state of diagram.states">
      <div fxLayout="row" fxLayoutAlign="space-between">
        <mat-card-title>
          <div fxLayout="column">
            <span class="title-text">{{state.name}}</span>
            <span *ngIf="isFullState(state)" class="medium-text">
              {{ 'state.position' | translate }}: [{{state.x| number}}, {{state.y| number}}]
            </span>
          </div>
        </mat-card-title>
        <div>
          <button (click)="showStateSettings(state)" mat-icon-button>
            <mat-icon>settings_applications</mat-icon>
          </button>
          <button (click)="showFullState(state)" aria-label="hide/show state info" mat-icon-button>
            <mat-icon *ngIf="!isFullState(state)">visibility</mat-icon>
            <mat-icon *ngIf="isFullState(state)">visibility_off</mat-icon>
          </button>
          <button (click)="deleteState(diagram, state)" mat-icon-button>
            <mat-icon>delete_sweep</mat-icon>
          </button>
        </div>
      </div>

      <mat-card-content *ngIf="fullState === state">
        <div fxLayout="row" fxLayoutAlign="space-between">
          <mat-form-field>
            <mat-label> {{ 'state.name' | translate}}</mat-label>
            <input [(ngModel)]="state.name" matInput name="stateName">
          </mat-form-field>
        </div>

        <div *ngIf="isFullState(state)" fxLayout="row" fxLayoutAlign="space-between">
          <mat-form-field class="mat-select-width">
            <mat-label>{{ 'state.template' | translate }}</mat-label>
            <mat-select [(ngModel)]="state.template" name="templateName">
              <mat-option *ngFor="let partial of partials" [value]="partial">{{partial}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="mat-select-width">
            <mat-label>{{ 'state.color' | translate }}</mat-label>
            <mat-select [(ngModel)]="state.color" name="colorName">
              <mat-option *ngFor="let color of colors" [value]="color.color">{{color.abbr}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <mat-card class="action-input-container" fxLayout="row" fxLayoutAlign="space-between center">
          <mat-icon>call_received</mat-icon>
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <mat-form-field *ngFor="let input of state.inputContainer" style="width: auto; max-width:40px;">
              <mat-label>{{input.label}}</mat-label>
              <input (change)="countFunction(diagram.states, fullState)" [(ngModel)]="input.value" matInput/>
            </mat-form-field>
          </div>
          <div fxLayout="column">
            <button (click)="addVariable(state, INPUT)" mat-icon-button>
              <mat-icon>add</mat-icon>
            </button>
            <button (click)="deleteVariable(state, INPUT)" mat-icon-button>
              <mat-icon>remove</mat-icon>
            </button>
          </div>
        </mat-card>

        <mat-card class="action-input-container" fxLayout="row"
                  fxLayoutAlign="space-between center">
          <mat-icon>call_made</mat-icon>
          <div>
            <mat-form-field *ngFor="let output of state.outputContainer" style="width: auto; max-width:40px;">
              <mat-label>{{output.label}}</mat-label>
              <input [(ngModel)]="output.value" matInput/>
            </mat-form-field>
          </div>
          <div fxLayout="column">
            <button (click)="addVariable(state, OUTPUT)" mat-icon-button>
              <mat-icon>add</mat-icon>
            </button>
            <button (click)="deleteVariable(state, OUTPUT)" mat-icon-button>
              <mat-icon>remove</mat-icon>
            </button>
          </div>
        </mat-card>

        <div *ngIf="!isFullState(state) && state.source.connections.length">
          <div *ngFor="let connection of state.source.connections; let i = index">
            <mat-card>
              <mat-card-header>
                <mat-card-title>{{ 'state.connection.self' | translate }} {{connection.target}}</mat-card-title>
                <button (click)="removeIndex(i, state.source.connections)" mat-icon-button>
                  <mat-icon>delete_sweep</mat-icon>
                </button>
              </mat-card-header>
              <mat-card-content>
                <mat-form-field>
                  <label>{{ 'state.connection.condition' | translate }}</label>
                  <input [(ngModel)]="connection.condition" matInput name="conditionName">
                </mat-form-field>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </mat-card-content>

    </mat-card>

  </mat-card-content>
</mat-card>
