<mat-card>

  <mat-card-header>
    <mat-card-title>{{ 'diagram.choose' | translate }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table class="mat-table">
      <thead>
      <tr>
        <th class="mat-table-header">
          {{ 'diagram.name' | translate }}
        </th>
        <th class="mat-table-header">{{'diagram.action' | translate }}</th>
      </tr>
      </thead>

      <tbody>
      <tr (click)="setDiagramToLoad(diagram.uuid)"
          *ngFor="let diagram of diagrams"
          [ngClass]="{'selected-background' : diagram.uuid == chosenUuid }">

        <td>
          <div class="mat-table-content">
            {{ diagram.name }}
          </div>
        </td>

        <td>
          <button (click)="deleteDiagram(diagram.uuid)" class="mat-table-action" mat-button>
            <span class="material-icons mat-18">delete_forever</span>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </mat-card-content>

  <mat-card-actions>
    <button (click)="chooseDiagram()" mat-button>{{ 'apply' | translate }}</button>
    <button (click)="cancel()" mat-button>{{ 'close' | translate }}</button>
  </mat-card-actions>

</mat-card>
