<mat-card>

  <mat-card-header>
    <mat-card-title>{{ 'diagram.choose' | translate }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-table [dataSource]="diagrams" class="mat-elevation-z8">
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name</mat-header-cell>
        <mat-cell *matCellDef="let diagram"> {{diagram.name}} </mat-cell>
      </ng-container>
      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef> Action</mat-header-cell>
        <mat-cell *matCellDef="let diagram">
          <button (click)="deleteDiagram(diagram.uuid)" class="mat-table-action" mat-button>
            <span class="material-icons mat-18">delete_forever</span>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </mat-card-content>

  <mat-card-actions>
    <button (click)="apply()" mat-button>{{ 'apply' | translate }}</button>
    <button (click)="cancel()" mat-button>{{ 'close' | translate }}</button>
  </mat-card-actions>

</mat-card>
