<md-card class="action-input-container" layout="row">
  <md-icon>call_received</md-icon>
  <md-input-container *ngFor="let input of state.inputContainer">
    <label>{{input.label}}</label>
    <input [(ngModel)]="input.value"/>
  </md-input-container>
</md-card>

<md-card class="action-input-container" layout="row">
  <md-icon>call_made</md-icon>
  <md-input-container *ngFor="let output of state.outputContainer">
    <label>{{output.label}}</label>
    <input [(ngModel)]="output.value"/>
  </md-input-container>
</md-card>

<md-card layout="column">
  <md-card *ngFor="let output of state.outputContainer">
    <md-card-header>
      <md-icon>call_made</md-icon>
      {{output.label}}
    </md-card-header>
    <md-content>
      <md-input-container>
        <label>{{ 'function.enter' | translate }}</label>
        <input (change)="countFunction([], state)" [(ngModel)]="output.expression"/>
      </md-input-container>
      <md-input-container>
        <label>{{ 'function.result' | translate }}</label>
        <input [(ngModel)]="output.value"/>
      </md-input-container>
    </md-content>
  </md-card>
</md-card>

<md-card>

  <md-card-content layout="row">
    <md-input-container>
      <label>{{ 'state.source' | translate }}</label>
      <md-select (change)="apply()" [(ngModel)]="sourceLayout">
        <md-option (value)="icon" *ngFor="let icon of icons">
          <md-icon>{{icon}}</md-icon>
        </md-option>
      </md-select>
    </md-input-container>
    <md-input-container>

      <label>{{ 'state.target' | translate }}</label>
      <md-select (change)="apply()" [(ngModel)]="targetLayout">
        <md-option (value)="icon" *ngFor="let icon of icons">
          <md-icon>{{icon}}</md-icon>
        </md-option>
      </md-select>
    </md-input-container>
  </md-card-content>
</md-card>
