<mat-card class="action-input-container" fxLayout="row">
  <mat-icon>call_received</mat-icon>
  <mat-form-field *ngFor="let input of state.inputContainer">
    <label>{{input.label}}</label>
    <input [(ngModel)]="input.value" matInput/>
  </mat-form-field>
</mat-card>

<mat-card class="action-input-container" fxLayout="row">
  <mat-icon>call_made</mat-icon>
  <mat-form-field *ngFor="let output of state.outputContainer">
    <label>{{output.label}}</label>
    <input [(ngModel)]="output.value" matInput/>
  </mat-form-field>
</mat-card>

<!--todo fix (change)-->
<mat-card *ngFor="let output of state.outputContainer" fxLayout="column">
  <mat-card-header>
    <mat-icon>call_made</mat-icon>
    {{output.label}}
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <mat-label>{{ 'function.enter' | translate }}</mat-label>
      <input (change)="countFunction([], state)" [(ngModel)]="output.expression" matInput/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ 'function.result' | translate }}</mat-label>
      <input [(ngModel)]="output.value" matInput/>
    </mat-form-field>
  </mat-card-content>
</mat-card>

<mat-card>
  <!--  todo apply icons-->
  <mat-card-content fxLayout="row">
    <mat-form-field>
      <mat-label>{{ 'state.source' | translate }}</mat-label>
      <mat-select (change)="apply()" [(ngModel)]="sourceLayout">
        <mat-option *ngFor="let icon of icons" [value]="icon">
          <mat-icon>{{icon}}</mat-icon>
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>

      <mat-label>{{ 'state.target' | translate }}</mat-label>
      <mat-select (change)="apply()" [(ngModel)]="targetLayout">
        <mat-option *ngFor="let icon of icons" [value]="icon">
          <mat-icon>{{icon}}</mat-icon>
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card-content>
</mat-card>
