<js-plumb-object (click)="setActiveState(state)"
                 [ngStyle]="{ 'left': state.x, 'top':state.y, 'box-shadow': '0 15px 35px' + state.color}"
                 class="action-state"
                 state-object="state">
  <div class="action-input-container" layout="row">
    <md-icon>call_received</md-icon>
    <md-input-container *ngFor="let input of state.inputContainer">
      <label>{{input.label}}</label>
      <input [(ngModel)]="input.value" ng-change="vm.countFunction(states,state)"/>
    </md-input-container>
  </div>
  <h3 class="cursor-default">{{state.name}}</h3>
  <div class="action-input-container" layout="row">
    <md-icon>call_made</md-icon>
    <md-input-container *ngFor="let output of state.outputContainer">
      <label>{{output.label}}</label>
      <input [(ngModel)]="output.value"/>
    </md-input-container>
  </div>

  <js-plumb-endpoint anchor={{state.endpointStyle.sourceAnchor}}
                     class={{state.endpointStyle.sourceEndpoint}}
                     settings="(state.endpointStyle.sourceAnchor === CONSTANTS.ANCHOR.LEFT_MIDDLE || state.endpointStyle.sourceAnchor === CONSTANTS.ANCHOR.RIGHT_MIDDLE) ? vm.sourceEndpointStyle1 : vm.sourceEndpointStyle2"
                     uuid="{{state.source.uuid}}">
    <js-plumb-connection *ngFor="let connection of state.source.connections"
                         [(ngModel)]="connection"
                         ng-if="connection.is_visible"
                         state-objects="vm.diagram.states">
    </js-plumb-connection>
  </js-plumb-endpoint>
  <js-plumb-endpoint anchor={{state.endpointStyle.targetAnchor}}
                     class={{state.endpointStyle.targetEndpoint}}
                     settings="((state.endpointStyle.targetAnchor === CONSTANTS.ANCHOR.LEFT_MIDDLE || state.endpointStyle.targetAnchor === CONSTANTS.ANCHOR.RIGHT_MIDDLE) ? vm.targetEndpointStyle1 : vm.targetEndpointStyle2)"
                     uuid="{{state.target.uuid}}"></js-plumb-endpoint>
</js-plumb-object>
