<mat-card class="model-sidenav">
  <mat-card-content [(ngModel)]="diagram.states" class="connectedItems" ui-sortable="sortableOptions"
                    ui-sortable-update="refresh()">
    <mat-card (click)="setActiveState(state)" *ngFor="let state of diagram.states">
      <mat-card-header>
        <mat-card-title>
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title-text">{{state.name}}</span>
            <span class="medium-text">
                            {{ 'state.position' | translate }}: [{{state.x| number}}, {{state.y| number}}]
                        </span>
            <button (click)="showStateSettings(state)" *ngIf="editable" class="" mat-icon-button>
              <mat-icon>settings_applications</mat-icon>
            </button>
          </div>
        </mat-card-title>
      </mat-card-header>

      <mat-card *ngIf="isActiveState(state)">
        <div *ngIf="state.source.connections.length">
          <mat-card-content *ngFor="let connection of state.source.connections">

            <div class="big-text">{{ 'state.connection.self' | translate }} {{connection.uuid}}
              <mat-icon (click)="changeVisibility(connection)" *ngIf="connection.isVisible">
                visibility
              </mat-icon>
              <mat-icon (click)="changeVisibility(connection)" *ngIf="connection.isVisible === false">
                visibility_off
              </mat-icon>
            </div>

          </mat-card-content>
        </div>
      </mat-card>
    </mat-card>
  </mat-card-content>
</mat-card>
