<md-card class="model-sidenav">
  <md-card-content class="connectedItems" ng-model="diagram.states" ui-sortable="sortableOptions"
                   ui-sortable-update="refresh()">
    <md-card (click)="setActiveState(state)" *ngFor="let state of diagram.states">
      <md-card-header>
        <md-card-header-text>
          <div layout="row" layout-align="space-between center">
            <span class="title-text">{{state.name}}</span>
            <span class="medium-text">
                            {{ 'state.position' | translate }}: [{{state.x| number}}, {{state.y| number}}]
                        </span>
            <md-button (click)="showStateSettings(state)" *ngIf="editable" class="md-icon-button">
              <md-icon>settings_applications</md-icon>
            </md-button>
          </div>
        </md-card-header-text>
      </md-card-header>

      <md-card *ngIf="isActiveState(state)">
        <md-card-content *ngFor="let connection of state.source.connections"
                         *ngIf="state.source.connections.length">

          <div class="big-text">{{ 'state.connection.self' | translate }} {{connection.uuid}}
            <md-icon (click)="changeVisibility(connection)" *ngIf="connection.isVisible">
              visibility
            </md-icon>
            <md-icon (click)="changeVisibility(connection)" *ngIf="connection.isVisible === false">
              visibility_off
            </md-icon>
          </div>

        </md-card-content>
      </md-card>
    </md-card>
  </md-card-content>
</md-card>
