<div [ngStyle]="{ 'left': state.x +'px' , 'top':state.y+'px', 'box-shadow': '0 15px 35px ' + state.color}"
     class="action-state"
     id="{{state.uuid}}">
  <div fxLayout="column" fxLayoutAlign="center center">
    <div class="action-input-container" fxLayout="row" fxLayoutAlign="center center">
      <mat-icon style="padding-right: 10px">call_received</mat-icon>
      <mat-form-field *ngFor="let input of state.inputContainer" class="state-var">
        <mat-label>{{input.label}}</mat-label>
        <input (input)="countFunction(diagram.states, state)" [(ngModel)]="input.value" matInput/>
      </mat-form-field>
    </div>
    <h3 class="cursor-default">{{state.name}}</h3>
    <div class="action-input-container" fxLayout="row" fxLayoutAlign="center center">
      <mat-icon style="padding-right: 10px">call_made</mat-icon>
      <mat-form-field *ngFor="let output of state.outputContainer" class="state-var">
        <mat-label>{{output.label}}</mat-label>
        <input [(ngModel)]="output.value" matInput/>
      </mat-form-field>
    </div>
  </div>

  <app-jsplumb-endpoint [anchor]="state.style.sourceAnchor"
                        [settings]="((state.style.sourceAnchor === CONSTANTS.ANCHOR.LEFT_MIDDLE || state.style.sourceAnchor === CONSTANTS.ANCHOR.RIGHT_MIDDLE) ? se1 : se2)"
                        [state]="state"
                        [uuid]="state.source.uuid"
                        class="{{state.style.sourceEndpoint}}"
                        id="{{state.source.uuid}}"></app-jsplumb-endpoint>

  <app-jsplumb-endpoint [anchor]="state.style.targetAnchor"
                        [settings]="((state.style.targetAnchor === CONSTANTS.ANCHOR.LEFT_MIDDLE || state.style.targetAnchor === CONSTANTS.ANCHOR.RIGHT_MIDDLE) ? te1 : te2)"
                        [state]="state"
                        [uuid]="state.target.uuid"
                        class="{{state.style.targetEndpoint}}"
                        id="{{state.target.uuid}}"></app-jsplumb-endpoint>

  <!--  <div *ngFor="let connection of state.source.connections">-->
  <!--    <app-jsplumb-connection *ngIf="connection.isVisible" [connection]="connection">-->
  <!--    </app-jsplumb-connection>-->
  <!--  </div>-->

</div>
