<app-jsplumb-object (click)="setActiveState(state)"
                    [jsPlumbInstance]="jsPlumbInstance"
                    [ngStyle]="{ 'left': state.x, 'top':state.y, 'box-shadow': '0 15px 35px' + state.color}"
                    [state]="state"
                    class="action-state jtk-draggable"
                    id="{{state.uuid}}">
  <div class="action-input-container" fxLayout="row">
    <mat-icon>call_received</mat-icon>
    <mat-form-field *ngFor="let input of state.inputContainer">
      <mat-label>{{input.label}}</mat-label>
      <input (change)="countFunction(states,state)" [(ngModel)]="input.value" matInput/>
    </mat-form-field>
  </div>
  <h3 class="cursor-default">{{state.name}}</h3>
  <div class="action-input-container" fxLayout="row">
    <mat-icon>call_made</mat-icon>
    <mat-form-field *ngFor="let output of state.outputContainer">
      <mat-label>{{output.label}}</mat-label>
      <input [(ngModel)]="output.value" matInput/>
    </mat-form-field>
  </div>


</app-jsplumb-object>
