<div fxLayout="row">
  <div *ngIf="diagram" class="sidenav-container" fxFlex="25">
    <app-sidenav (showStateSettingsF)="showStateSettings($event)" [diagram]="diagram">
    </app-sidenav>
  </div>
  <div *ngIf="settingsState === null" class="schema-container" fxFlex>
    <mat-toolbar color="primary">
      <mat-toolbar-row fxLayoutAlign="space-between center">
        <button [matMenuTriggerFor]="diagram_menu" aria-label="Example icon-button with a menu" mat-icon-button>
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #diagram_menu="matMenu">
          <button (click)="createNewDiagram()" mat-menu-item style="text-align: center">
            {{ 'diagram.create' | translate }}
          </button>
          <button (click)="updateDiagram()" *ngIf="diagram" mat-menu-item style="text-align: center">
            {{ 'diagram.update' | translate }}
          </button>
          <button (click)="openDiagram()" mat-menu-item style="text-align: center">
            {{ 'diagram.open' | translate }}
          </button>
        </mat-menu>
      </mat-toolbar-row>
      <mat-toolbar-row fxLayoutAlign="center center">
        <button (click)="goToModeling()" mat-raised-button>{{ 'model.self' | translate }}</button>
      </mat-toolbar-row>
      <mat-toolbar-row>
        <mat-slider [(ngModel)]="canvas.zoom" [max]="200" [min]="0" [step]="10" aria-label="red"
                    class="mat-warn"></mat-slider>
      </mat-toolbar-row>
      <mat-toolbar-row fxLayoutAlign="end center">
        <button [matMenuTriggerFor]="language_menu" mat-icon-button>
          <mat-icon>language</mat-icon>
        </button>
        <mat-menu #language_menu="matMenu">
          <button (click)="changeLanguage('en')" mat-menu-item style="text-align: center">
            {{ 'language.en' | translate }}
          </button>
          <button (click)="changeLanguage('ru')" mat-menu-item style="text-align: center">
            {{ 'language.ru' | translate }}  </button>
        </mat-menu>
      </mat-toolbar-row>
    </mat-toolbar>

    <!--                             [jsPlumbInstance]="jsPlumbInstance" [x]="x" [y]="x"-->
    <app-jsplumb-canvas (onConnection)="addConnection($event)" [canvas]="canvas" [diagram]="diagram"
                        id="jsplumb-canvas">

    </app-jsplumb-canvas>
  </div>

  <app-settings *ngIf="settingsState !== null" [state]="settingsState" fxFlex="75"></app-settings>
</div>
