.jtk-drag-select * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cursor-default {
  cursor: default;
}

.connectorHoverClass {
  color: red;
}

.sidenav-container {
  overflow: auto;
}

.scrollable {
  overflow-y: scroll;
}

.schema-container {
  overflow: hidden;
  max-height: 100vh;
}

.endpoint_TopCenter, .endpoint_BottomCenter, .endpoint_LeftMiddle, .endpoint_RightMiddle {
  display: inline-block;
}

#jsplumb-canvas {
  /*background-image: url(/assets/images/grid_background.gif);*/
  /*background-repeat: repeat;*/
  background: #ECF5F9;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  position: relative;
  //left: 100px;
  //top: 100px;
  min-width: 1000px;
  min-height: 1000px;
  display: block
}
mat-toolbar {
  flex-direction: row;
  justify-content: space-between;
}

mat-toolbar-row {
  width: auto;
}

